<!DOCTYPE html>
<html>
<head>
    <title>Expense Tracker</title>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h1>Personal Expense Tracker</h1>

<form action="/add" method="POST">

    <input type="number"
           
           name="amount"
           placeholder="Amount"
           required>

    <input type="text"
           name="category"
           placeholder="Category"
           required>

    <input type="date"
           name="date"
           required>

    <input type="text"
           name="description"
           placeholder="Description">

    <button type="submit">Add Expense</button>

</form>

<h2>Total Expenses: ₹{{ total }}</h2>

<table>

    <tr>
        <th>ID</th>
        <th>Amount</th>
        <th>Category</th>
        <th>Date</th>
        <th>Description</th>
        <th>Action</th>
    </tr>

    {% for expense in expenses %}
    <tr>
        <td>{{ expense[0] }}</td>
        <td>{{ expense[1] }}</td>
        <td>{{ expense[2] }}</td>
        <td>{{ expense[3] }}</td>
        <td>{{ expense[4] }}</td>

        <td>
            <a href="/delete/{{ expense[0] }}">
                Delete
            </a>
        </td>
    </tr>
    {% endfor %}

</table>

</body>
</html>
